.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: #27ae60;
}
.add-button:hover{
  background-color: #1abc9c;
}
.delete-button{
  background-color: #d35400;
}
.delete-button:hover{
  background-color: #e67e22;
}
.move-button{
  background-color: #2980b9;
}
.move-button:hover{
  background-color: #3498db;
}